html, body, #map {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #F0F0F0;
}

#map {
   background-color: #F0F0F0;
}

.leaflet-control-attribution {display: none;}

div.leaflet-control-zoom.leaflet-bar.leaflet-control {
  box-shadow: none !important;
  border: 1px solid #ccc;
}
