body {
	background-color: #F0F0F0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #808080;
	font-size: 12px;
	text-align: center;
}

iframe {
	width:600px;
	height: 400px;
}

.map_frame {
	 position: absolute; 
	 left: 325px; 
}

.button {
	position: absolute;
	top: 375px;
	left: 120px;
	cursor: pointer;
	width: 65px;
	height: 25px;
	background-color: #808080;
	color: #fff;
	border-radius: 5px;
	line-height: 25px;
	font-size: 14px;
}

.rankings {
	position: absolute;
	left: 20px;
	top: 125px;
}

label {
	margin-right: 10px;
}

input[type="radio"] {
	display: none;
}


input[type="radio"] + label {
    color: white;
    cursor: pointer;
}

input[type="radio"] + label span {
	display:inline-block;
    width:25px;
    height:25px;
    margin:0px -22px 0 0;
    vertical-align:middle;
    cursor: pointer;
}

input[type="radio"]:checked + label span {
	border: 3px solid black;
}

input[type="radio"]:checked + label {
	font-weight: bold;
	font-size: 14px;
}
