body {
	background-color: #F0F0F0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #808080;
	font-size: 12px;
	text-align: center;
}

.population-ranking {
	float: left;
	margin-right: 20px;
}

.pesticides-ranking {
    float: left;
    margin-right: 20px;
}

.rent-ranking {
	float: left;
	margin-right: 40px;
}

.update_button {
	position: absolute;
	float: left;
	top: 385px;
	left: 80px;
}

.button {
	cursor: pointer;
	width: 65px;
	height: 25px;
	background-color: #808080;
	color: #fff;
	border-radius: 5px;
	line-height: 25px;
	font-size: 14px;
}


input[type="radio"] {
	display: none;
}


input[type="radio"] + label {
    color: white;
    cursor: pointer;
}

input[type="radio"] + label span {
	display:inline-block;
    width:25px;
    height:25px;
    margin:0px -22px 0 0;
    vertical-align:middle;
    cursor: pointer;
}

input[type="radio"]:checked + label span {
	border: 3px solid black;
}

input[type="radio"]:checked + label {
	font-weight: bold;
	font-size: 14px;
}
